/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 nov 2025, 21:07:13
    Author     : aleja
*/

*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background: lightpink;
    height: 150px;                 /* puedes ajustar la altura */
    display: flex;                 /* activa flexbox */
    flex-direction: column;        /* los elementos uno debajo del otro */
    justify-content: center;       /* centra verticalmente */
    align-items: center;           /* centra horizontalmente */
    text-align: center;
}

header h1{
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    font-size: 2.0rem;
}

main {
    text-align: center;
    height: 70vh;
}
h3{
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 30%
}

h3:nth-of-type(2){
    background-color: lightpink;
    border: 2px solid black;
}

table{
    margin: 2rem auto;
    width: 70%;
    border: 2px solid black;
}

th{
    background: lightpink;
    padding: 15px;
    border: 2px solid black ;

}

td{
    padding: 15px;
    border: 2px solid black;
    border-collapse: collapse;
}

footer{
    background: lightpink;
    height: 15vh;
    display: flex;                /* Activa Flexbox */
    justify-content: center;      /* Centra los elementos horizontalmente */
    align-items: center;          /* Centra verticalmente */
    gap: 40px;
}

footer img{
    width: 50px;
    height: 50px;
}